@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-landscaping {
  background-color: #b6debc;
}

.bg-menu, .logo {
  background-color: #efeae5;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.bg-menu {
  display: flex;
  justify-content: space-between;
}

:link, :visited, :hover, :active {
  color: black;
  text-decoration: none;
}

.hero-img {
  height: 700px;
  background-image: url('http://localhost:3000/Images/startbild.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: 50%;
}

.hero-text {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-kerning: normal;
  font-size: 4rem;
  color:black;
  text-align: center;
}

.info-text-start {
  font-family: 'Montserrat', sans-serif;
}

.bg-reviews {
  background-color:  #efeae5;
}

.btn-color {
  background-color: #d77e5e;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-weight: bold;
  color: white;
  font-kerning: normal;
  border: none;

}

.bg-footer {
  background-color: #fadfd1;
}

.AR-icon {
  visibility: hidden
}


@media screen and (max-width: 1025px) {

  .AR-icon {
    visibility: visible;
  }

}


@media screen and (max-width: 600px) {


  .bg-menu {
    display: flex;
    justify-content: center !important;
  }

  .hero-text {
    font-size: 2rem;
  }

  .hero-img {
    height: 500px;
  }

  .info-row-start {
    flex-direction: column-reverse !important;
  }

  .footer-row {
    flex-direction: column-reverse !important;
  }

  .footer-title {
    font-size: 0.1rem;
    visibility: hidden;
  }
  
  .footer-title2 {
    text-align: center;
    font-size: 0.7rem;
  }
  
  .footer-text {
    text-align: center;
    font-size: 0.7rem;
  } 
}

